@tailwind base;
@tailwind components;
@tailwind utilities;
@layer components {
    .logo {
        color: transparent;
        -webkit-text-stroke: 1.75px rgb(57, 111, 180);
    }
    .container {
        padding: 0 140px;
        max-width: 1440px;
        margin: 0 auto;
    }

    /* for the filter in the project section*/
    #photographie:checked ~ .project__images > img:not([class*='photographie']),
    #audiovisuel:checked ~ .project__images > img:not([class*='audiovisuel']),
    #journalisme:checked ~ .project__images > img:not([class*='journalisme']) {
        width: 0;
        height: 0;
    }

    #allproject:checked ~ .project__tag--allproject,
    #photographie:checked ~ .project__tag--photographie,
    #audiovisuel:checked ~ .project__tag--audiovisuel,
    #journalisme:checked ~ .project__tag--journalisme {
        background-color: rgb(57, 111, 180);
        color: hsl(230, 8%, 15%);
    }
    .project__images img {
        transition: all 0.4s ease-in-out;
        width: 400px;
        height: 300px;
        object-fit: cover;
        border-radius: 1rem;
    }

    @media (max-width: 950px) {
        .container {
            padding: 0 50px;
        }
    }
    @media (max-width: 500px) {
        .container {
            padding: 0 20px;
        }
    }
}
